html {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.todo-navbar {
  background-color: #1B1C1D;
  border: 0;
  border-radius: 0;
}

.todo-navbar .todo-logo {
  height: auto;
  color: #fff;
}

.todo-navbar .todo-logo h3 {
  margin: 0;
}
